<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	<title>Login - Admin</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

	
</head>

<body style="background-color: rgb(219, 216, 202);">
	<div class="container-fluid text-center">
	</br>
	</br>
		<img th:src="@{/images/logo_icon.png}" /><h1>E-Commerce</h1>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
		<span class="navbar-toggler-icon">
		</span>
		</button>
		
		
		
		<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
			<div th:if="${param.error}">
				<p class="test-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
		
			<div class="border border-secondary rounded p-3">
				<h2>Access</br> Admin Control Panel</h2>
				<p>
					<input type="email" name="email" class="form-control" placeholder="E-mail" required />
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeholder="Password" required />
				</p>
				<input type="submit" value="Login" class="btn btn-primary m-3"/>
			</div>
		</form>
		
		
		<div class= "text-center">
			<p>Fefs_Art &copy;</p>
		</div>
	</div>
</body>

</html>